{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <center>
                            <h1>登录您的SDU Airlines账号</h1><br>
                        </center>
                        <form class="form-horizontal" role="form" action="{% url 'booksystem:login' %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="id_username">
                                    用户名:
                                </label>
                                <div class="col-sm-6">
                                    <input id="id_username" maxlength="10" name="username" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="id_password">
                                    用户密码:
                                </label>
                                <div class="col-sm-6">
                                    <input id="id_password" maxlength="10" name="password" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div align="center">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer" align="center">
                        未注册账户？ <a href="{% url 'booksystem:register' %}">请点击此处</a>注册.
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

