{% extends 'base.html' %}

{% block login_display %}
    <a href="#">欢迎您 {{ username }} 先生/女士</a>
{% endblock %}

{#这部分在base.html的head部分才会先加载#}
{% block style %}

    <style>

        .main {
            margin-left: 50px;
            margin-right: 50px;
        }

        .search_head {
            background-color: #f1f1f1;
            margin-top: 10px;
            height: 30px;
            text-align: center;
            font-weight: bold;
        }

        .search_result_by_ltime { /*背景色与网页背景色相同*/
            background-color: #f1f1f1;
            margin-top: 10px;
        }

        .search_result_by_capacity { /*背景色与网页背景色相同*/
            background-color: #f1f1f1;
            margin-top: 10px;
        }

        .one_line {
            background-color: white;
            height: 90px;
            margin-top: 10px;
            text-align: center;
        }


        .btn-warning {
            background-color: #ffb000;
        }

        .route_name {
            line-height: 90px;
            font-size: x-large;
            font-weight: bold;
        }


    </style>
{% endblock %}

{% block js %}
    <script>
        function search_by_ltime() {
            document.getElementById("result_by_ltime").style.display = "block";
            document.getElementById("result_by_atime").style.display = "none";
            document.getElementById("result_by_capacity").style.display = "none";
        }
        function search_by_atime() {
            document.getElementById("result_by_ltime").style.display = "none";
            document.getElementById("result_by_atime").style.display = "block";
            document.getElementById("result_by_capacity").style.display = "none";
        }
        function search_by_capacity() {
            document.getElementById("result_by_ltime").style.display = "none";
            document.getElementById("result_by_atime").style.display = "none";
            document.getElementById("result_by_capacity").style.display = "block";
        }
    </script>
{% endblock %}

{% block content %}

    <div class="main">
        <!--标题行(标明4种排序方式)-->
        <div class="search_head" id="search_head" style="display: {{ dis_search_head }}">
            <div class="col-sm-12">
                <button class="col-sm-3 btn btn-primary">航班信息</button>
                <button class="col-sm-3 btn btn-success" onclick="search_by_ltime()">起飞时间</button>
                <button class="col-sm-3 btn btn-danger" onclick="search_by_atime()">到达时间</button>
                <button class="col-sm-3 btn btn-warning" onclick="search_by_capacity()">余座</button>
            </div>
        </div>

        <!--如果没有查找到-->
        <div class="alert" id="search_failure"
             style="margin-top: 20px; background-color:white;display: {{ dis_search_failure }}">
            <h1>尊敬的旅客</h1>
            <p style="margin-left: 50px">
                很抱歉，当前已无相同行程的航班可供改签，我们已为您完成退票。
            </p>
        </div>

        <!--按照价格排序-->
        <div class="search_result_by_capacity" id="result_by_capacity">
            {% for route in usable_routes_by_capacity %}
                <div class="one_line">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <p class="route_name">{{ route.name }}</p> {# 单行居中 #}
                        </div>
                        <div class="col-sm-3">
                            <p style="padding: 10px"> {# 多行居中 #}
                                <span style="font-size: xx-large">{{ route.leave_time }}</span>
                                <br>
                                {{ route.leave_city }}当地机场出发
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p style="padding: 10px">
                                <span style="font-size: xx-large">{{ route.arrive_time }}</span>
                                <br>
                                {{ route.arrive_city }}当地机场到达
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p style="padding: 22px 0;">
                                <span style="position:absolute;margin-top: 10px;margin-left: -50px;
                                    font-size:smaller;color: gray;">满座率</span>
                                <span style="position:absolute;margin-top: 26px;margin-left: -47px;
                                    font-size:smaller;color: gray">{{ route.book_sum }}/{{ route.capacity }}</span>
                                <sup>余</sup>
                                <span style="color: #ff6600;font-size: xx-large;">{{ route.capacity }}</span>
                                <sup>座</sup>&nbsp;
                                <a href="{% url 'booksystem:book_seats' route.id %}"
                                   class="btn btn-sm btn-warning">选座</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

       <!--按照起飞时间排序-->
       <div class="search_result_by_ltime" id="result_by_ltime" style="display: none">
            {% for route in usable_routes_by_ltime %}
                <div class="one_line">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <p class="route_name">{{ route.name }}</p> {# 单行居中 #}
                        </div>
                        <div class="col-sm-3">
                            <p style="padding: 10px"> {# 多行居中 #}
                                <span style="font-size: xx-large">{{ route.leave_time }}</span>
                                <br>
                                {{ route.leave_city }}当地机场出发
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p style="padding: 10px">
                                <span style="font-size: xx-large">{{ route.arrive_time }}</span>
                                <br>
                                {{ route.arrive_city }}当地机场到达
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p style="padding: 22px 0;">
                                <span style="position:absolute;margin-top: 10px;margin-left: -50px;
                                    font-size:smaller;color: gray;">满座率</span>
                                <span style="position:absolute;margin-top: 26px;margin-left: -47px;
                                    font-size:smaller;color: gray">{{ route.book_sum }}/{{ route.capacity }}</span>
                                <sup>余</sup>
                                <span style="color: #ff6600;font-size: xx-large;">{{ route.capacity }}</span>
                                <sup>座</sup>&nbsp;
                                <a href="{% url 'booksystem:book_seats' route.id %}"
                                   class="btn btn-sm btn-warning">选座</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

       <!--按照降落时间排序-->
       <div class="search_result_by_atime" id="result_by_atime" style="display: none">
            {% for route in usable_routes_by_atime %}
                <div class="one_line">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <p class="route_name">{{ route.name }}</p> {# 单行居中 #}
                        </div>
                        <div class="col-sm-3">
                            <p style="padding: 10px"> {# 多行居中 #}
                                <span style="font-size: xx-large">{{ route.leave_time }}</span>
                                <br>
                                {{ route.leave_city }}当地机场出发
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p style="padding: 10px">
                                <span style="font-size: xx-large">{{ route.arrive_time }}</span>
                                <br>
                                {{ route.arrive_city }}当地机场到达
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p style="padding: 22px 0;">
                                <span style="position:absolute;margin-top: 10px;margin-left: -50px;
                                    font-size:smaller;color: gray;">满座率</span>
                                <span style="position:absolute;margin-top: 26px;margin-left: -47px;
                                    font-size:smaller;color: gray">{{ route.book_sum }}/{{ route.capacity }}</span>
                                <sup>余</sup>
                                <span style="color: #ff6600;font-size: xx-large;">{{ route.capacity }}</span>
                                <sup>座</sup>&nbsp;
                                <a href="{% url 'booksystem:book_seats' route.id %}"
                                   class="btn btn-sm btn-warning">选座</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
{% endblock %}